<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= msg%></h1>
    <form action="/tests" method="post">
      <label for="tiltle">Exam Title</label>
      <input type="tel" name="title" id="title" /><br />
      <label for="formLink">Goggle Form Link</label>
      <input type="text" name="formLink" id="formLink" /><br />
      <label for="duration">Time Duraiton</label>
      <input type="number" name="hours" id="hours" placeholder="HH" />
      <input type="number" name="min" id="min" placeholder="MM" />
      <input type="number" name="sec" idsers="sec" placeholder="SS" />
      <input type="submit" value="Create Exam" />
    </form>
  </body>
</html>
